@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

h1 {
  margin: 0;
  padding: 0;
}

* {
  font-family: BMJUA;
}

html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.7);
}
.popup_inner {
  background-color: #ffffff;
  position: absolute;
  left: 33%;
  right: 33%;
  top: 7%;
  bottom: 7%;
  margin: 0 auto;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  text-align: center;
}
.popup.show {
  display: flex;
}
.popup.show > div {
  animation: bounceInDown 0.5s;
}
.popup.none {
  display: flex;
}
.popup.none > div {
  animation: bounceOutUp 0.5s;
}



.border {
  border: 13px solid #10b7c9;
  border-radius: 8px; 
  box-shadow: 
	0 0 0 12px fuchsia;
}


.popup_inner > button {
  /*border: 3px solid fuchsia;*/
  border: 0px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  
  min-width: 182px;
  min-height: 52px;
  background: #1c1c28;
  box-shadow: 
	0 0 0 3px #10b7c9,
	0 0 0 6px fuchsia;
}

.popup_inner > .title {
  width: 100%;
  height: 96px;
  text-align: left;
  display:flex;
  align-items:center;
}
.popup_inner > .title > h1 {
  position: absolute;
  left: 84px;
}
.popup_inner > .title > button {
  background: none;
  border: 0px;
  position: absolute;
  right: 24px;
}
.popup_inner > .title > img {
  vertical-align: middle;
  position: absolute;
  left: 24px;
}
.content {
  text-align: left;
}
.content > div > span {
  font-size: 24px;
}
.content > div {
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.content > div#size > div > button {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 14px;
  width: 86px;
  height: 48px;
  border-radius: 29px;
  border: solid 3px black;
  font-size: 16px;
  background-color: #ffffff;
}
.content > div > div > button {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 14px;
  width: 118px;
  height: 48px;
  border-radius: 29px;
  border: solid 3px black;
  font-size: 16px;
  background-color: #ffffff;
}
.content > div#gender > div > button.checked {
  background-color: fuchsia;
  color: white;
}
.content > div > div > button.checked {
  background-color: black;
  color: white;
}
.content > div#size > div > button.checked {
  background-color: black;
  color: white;
}
.content > div#portfolio > div > input {
  width: 70%;
}
.content > div#portfolio > div > label {
  width: 86px;
  height: 48px;
  margin-left: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 14px;
  padding: 8px;
  width: 118px;
  height: 48px;
  border-radius: 29px;
  border: solid 3px black;
  font-size: 16px;
  background-color: #ffffff;
}

.content > div > div > input {
  /* "calc(100% - 24px)" */
  width: 100%;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 24px;
  font-size: 16px;
  border-radius: 29px;
  border: solid 3px black;
  background-color: #ffffff;
}
/* .popup_inner > button::after {
  background: none;
  border: 3px solid #10b7c9;
  border-radius: 8px;
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
} */


/* .popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
} */
